*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
}
.container {
    width: 90vw;
    max-width: 1180px;
    margin: auto;
}
.products_wrapper {
    display: flex;
    gap: 15px;
    margin-top: 80px;
}

.product {
    width: 22%;
}

.product_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.product_image img:first-child {
    display: block;
}
.product:hover .product_image img:nth-child(2){
    display: block;
}
.product_image {
    height: 330px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.product button {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    border: none;
    outline: none;
    background: rgba(68, 96, 132, .9);
    color: #fff;
    padding: 8px;
    font-size: 15px;
    text-transform: uppercase;
    transition: all .5s;
    cursor: pointer;
}

.product:hover button {
    bottom: 0;
}
span.product_category {
    color: #ddd;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
    display: inline-block;
}

h2.product_title {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    cursor: pointer;
}

h4.product_price {
    font-size: 16px;
    margin-top: 7px;
    font-weight: 800;
    font-family: sans-serif;
}

/* css for prodcut popup */
div#productPopUp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
}

.popup_wrapper {
    display: flex;
    background: #fff;
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 50px;
}

.popup_image img {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popup_image {
    position: relative;
    height: 500px;
}

.popup_wrapper > div {
    width: 40%;
}

.popup_details {
    padding-top: 40px;
}

.popup_details h2 {
    margin-bottom: 20px;
}

.popup_details h4 {
    font-size: 25px;
    margin-bottom: 8px;
    font-family: sans-serif;
}

.add_to_cart {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}